
*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar, .container{
    background-color: rgb(28, 28, 29);
    width: 90%;
    border-radius: 3px;
}

.navbar{
    padding: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn, input{
    height: 35px;
    padding: 0 1em;
}

.color{
    padding: 0 .25em;
    width: 100px;
    margin: 0 1em;
}

.container{
    height: 99%;
    width: 99%;
    display: grid;
    grid-template-columns: repeat(var(--size), 1fr);
    grid-template-rows: repeat(var(--size), 1fr);
    padding: 3px;
}

.pixel{
    padding-left: 32px;
    padding-top: 32px;
    background-color: rgb(61, 61, 61);
    margin: 0px;
    border-radius: 0px;
    font-size: 40px;
    line-height: 40px;
    text-wrap: nowrap;
}
