
*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div[contenteditable="true"] {
  caret-color: inherit;
}

.navbar, .container{
    background-color: rgb(28, 28, 29);
    width: 90%;
    border-radius: 3px;
}

.navbar{
    padding: 1em;
    width : 100%;
    top: 0;
    display: flex;
    position: fixed;
    align-self: top;
    justify-content: center;
    align-items: center;
}

.btn, input{
    height: 35px;
    padding: 0 1em;
}

.color{
    padding: 0 .25em;
    width: 100px;
    margin: 0 1em;
}

.container{
    height: 80%;
    width: 95%;
    display: grid;
    padding: 3px;
    margin-top: 5%;
}

.pixel{
    padding-left: 32px;
    padding-top: 32px;
    background-color: rgb(61, 61, 61);
    margin: 0px;
    border-radius: 0px;
    font-size: 40px;
    font-family: monospace;
    line-height: 45px;
    text-wrap: unset;
    overflow: scroll;
    white-space: pre;
}
